.topBar {
	position: absolute;
	width: 100%;
	left: 0;
}

.left {
	font-size: 0.7rem;
	position: absolute;
	left: 5.5%;
}

.clock {
	font-size: 0.7rem;
	position: absolute;
	justify-content: center;
	text-align: center;
	left: 50.2%;
	transform: translateX(-50%);
}

.right {
	font-size: 0.7rem;
	position: absolute;
	right: 4%;
	top: 3%;

	/* background-color: rgb(182, 182, 182); */
}
