iframe {
	border: 0.4em solid rgb(26, 26, 26);
}

.loading {
	position: absolute;
	z-index: -1;
}

.weatherPage {
	/* width: 100%;
	max-width: 330px; */

	height: 105%;
	max-height: 490px;
	margin-top: -3%;
	/* position: absolute; */

	background-color: #7e9bb8;
	opacity: 0.9;
	background-image: repeating-linear-gradient(
		-45deg,
		rgba(192, 196, 198, 0.25),
		rgba(219, 219, 219, 0.25) 1px,
		transparent 1px,
		transparent 6px
	);
	background-size: 4px 4px;
}

.spongebob {
	position: absolute;

	width: 55%;
	height: 25%;
	left: 20.8%;
	top: 14%;
}

.warning {
	position: absolute;

	font-size: xx-large;
	color: rgb(242, 3, 3);
	text-shadow: 10rem black !important;

	width: 50%;
	height: 9%;
	left: 13.8%;
	top: 6%;
}

.heatwave {
	position: absolute;
	z-index: 1;
	background-color: none;
	opacity: 0;
	width: 86%;
	height: 25%;
	left: 8.8%;
	top: 10%;
}

.barbottom {
	position: absolute;
	z-index: 0;
	background-color: black;
	opacity: 0.8;
	width: 50%;
	height: 1.7%;
	left: 7%;
	top: 90%;
}

.barbottomUp1 {
	position: absolute;
	z-index: 0;
	background-color: black;
	opacity: 0.8;
	width: 40%;
	height: 1.7%;
	left: 7%;
	top: 80%;
}

.barbottomUp2 {
	position: absolute;
	z-index: 0;
	background-color: black;
	opacity: 0.8;
	width: 35%;
	height: 1.7%;
	left: 7%;
	top: 70%;
}
.barbottomUp3 {
	position: absolute;
	z-index: 0;
	background-color: black;
	opacity: 0.8;
	width: 30%;
	height: 1.7%;
	left: 7%;
	top: 60%;
}
