.Apps {
	/* padding-left: 50%; */
	width: 2px;
	height: 1px;
	margin: 3rem;

	display: flex;
	row-gap: 10rem;

	flex-direction: column;
	place-items: center;
	justify-content: center;
	align-items: center;
}

.singleApp {
	/* width: 20%; */
}

.singleApp img {
	height: auto;
	width: 3.7rem;
}

.appName {
	font-size: 0.7rem;
}
