.Apps {
	width: 2px;
	height: 1px;
	margin: 3rem;

	display: flex;

	flex-direction: column;
	place-items: center;
	justify-content: center;
	align-items: center;
}

.singleApp {
}

.singleApp img {
	height: auto;
	width: 3.7rem;
}

.appName {
	font-size: 0.7rem;
}
