.apps {
	display: grid;
	justify-content: center;
	text-align: center;
	position: absolute;
	grid-template-columns: 20% 20% 20% 20%;
	z-index: 1;

	width: 100%;
	height: 60%;
	top: 4%;

	grid-column-gap: 0.7rem;
	place-items: center;
}

.dock {
	position: absolute;
	/* display: flex; */
	z-index: 0;
	justify-content: center;
	text-align: center;
	place-items: center;

	width: 300px;
	height: auto;
	bottom: -1%;
	left: 50%;
	transform: translateX(-50%);
}

.footerApps {
	display: grid;
	position: absolute;
	color: white !important;

	grid-template-columns: 20% 20% 20% 20%;
	width: 100%;
	height: 17%;
	z-index: 2;
	grid-column-gap: 0.7rem;

	justify-content: center;
	text-align: center;
	place-items: center;

	bottom: -0.6%;
	left: 50%;

	transform: translateX(-50%);
}
