* {
	font-family: Helvetica;
	font-style: normal;
	font-weight: lighter;
	text-shadow: 0.5px 0.5px 3px black;
	color: rgb(215, 215, 215);
}

a {
	text-decoration: none;
}
body {
	background-color: black;
	overflow-x: hidden;
	overflow-y: hidden;
}

.App {
	/* max-width: auto; */

	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.Frame {
	/* background-image: url('./assets/imgs/Iphone.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; */
	width: 361px;
	max-width: 361px;

	height: var(--doc-height);
	max-height: 690px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* position: relative; */
}

.phone {
	pointer-events: none;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 361px;
	max-width: 361px;
	height: var(--doc-height);
	max-height: 690px;
}

.iphoneContent {
	position: relative;
	padding-top: 2%;
	width: 83%;
	height: 65%;
}
