.game {
	position: absolute;
	z-index: 0;
	width: 100%;
	max-width: 400px;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgb(0, 0, 0);
}

.gameWindow {
	width: 130%;
	height: 127.5%;
}

.loading {
	position: absolute;
	z-index: -1;
}
